body{
  background-color: rgb(20,0,30);
}

.navbar-nav .nav-link:hover {
    font-weight: bold ;
    color: #fff;
  }
  
  .navbar-nav .nav-link{
    font-size: 20px; 
  }

  .navbar-brand{
    font-size: 25px;
  }

  .navbar-dark{
    background-color: rgb(18,1,46);
  }

  .circular-image-container{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 250%;
    border: 2px solid  #ccc;

    display: flex;
    justify-content: center ;
    align-items: center;

  }  

  .circular-image{
    width: 120%;
    height: auto;
    display: block;
  }
.name{
    color: #fff;
}
.title{
    color: azure;
}

.social_link{
  overflow: hidden;
    border-radius: 250%;
    border: 2px solid  #ccc;

    display: flex;
    justify-content: center ;
    align-items: center;
}

.about_image{
    width:200px;
    height: auto;
    display:block;
}



.jumbtron{
    background-color: #002244;
    padding: 20px;
    border-radius : 10px;
}

.display4{
    color: #eef3f8;
    font-size:24px;
}

.lead{
    font-size: 18px;
    color:black;
}

.form-container{
    border:2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0f0;
}