{% extends "base.html" %}
{%load static %}
{% block content1 %} 
<div class = "row my-5">
    <div class = 'col-12 d-flex justify-content-center align-item-center' >
        <div class="circular-image-container">
        <img class="circular-image"  src=" {% static "images/mmachi.jpg" %}" alt= " Image">
        </div>
    </div>
    <div class="col-12  text-center mt-3">
        <h4 class="title">Hi , my name is</h4>
        <div class="name">
            <h1 >Mmachi Ezeh</h1>
            <h1 >i'm a Software Developer</h1>
        </div>
    </div> 
    <div class= "col-12 text-center mt-3">
        <div class= "col-12 d-flex justify-content-center align-item-center">
            <a href="https://www.linkedin.com/in/mmachi-ezeh-3a77a21b2/" target"_blank" class= "ms-3">
                <img src="{% static "images/linkedin.png" %}" alt="LinkedIn" width="50" height="50" class= "social_link ms-3">
            </a>

            <a href="https://github.com/techwitlawri" target"_blank">
                <img src="{% static "images/github.png" %}" alt="github" width="50" height="50" class= "social_link ms-3">
            </a>
        </div>
    </div> 
</div>

{% endblock content1 %}
